
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body,
#root,
.app
{
    height:100%;
    font-family:'Source Sans Pro', sans-serif;
    background-color: bisque;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    
    margin:0;
    padding:0;
    border:1px solid #8fa5bf;
}
.logo-container > img{
    width:100px;
}

.nav-container > ul {
    display: flex;
    padding:0;
}
.nav-container > ul >li{
    list-style-type: none;
    padding:0 10px;
}
li{
    cursor: pointer;
}
.search-container{
    margin:10px;
    border-color: #8fa5bf;
    display: flex;
    justify-content: space-between;
}
.search{
    padding:10px 20px;
    width:300px;
    border-radius: 10px;
}
.res-card-container{
    border:1px solid #8fa5bf;
    display: flex;
    flex-wrap: wrap;
    padding:20px;
}
.card{
    border:1px solid black;
    width:250px;
    margin:20px;
    border-radius: 5px;
    cursor: pointer;
}
.card:hover{
    border:2px solid #8fa5bf;
}

.card-details{
    padding:10px;
}
.time-rating{
    display: flex;
    justify-content: space-between;
}
.cusine{
    font-size: small;
}
.filter-btn{
    border:1px solid gray;
    padding:5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width:70px;
    cursor: pointer;
}
.search-btn{
    border:1px solid gray;
    padding:5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}*/
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    padding:10px;
    margin:20px;
    border-radius: 5px;

    .card-img{
        width:250px;
        height:220px;
        background-color: #f0f0f0;
        border-radius: 5px;

    }
    .card-title{
        width:180px;
        height:20px;
        margin:20px 0 ;
        background-color: #f0f0f0;
        border-radius: 5px;

    }
    .card-desc{
        width:140px;
        height:20px;
        margin:15px 0 ;
        background-color: #f0f0f0;
        border-radius: 5px;
    }
}

.error-boundry{
    border:1px solid #f0f0f0;
    display: flex;
    direction:column;
    justify-content: center;
    align-items: center;
    margin-top:200px;
}

.menu{
    border:1px solid gray;
    padding:15px;
    margin:50px auto;
    border-radius: 5px;
    width:75%;
    cursor: pointer;
    
    
    .offers{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 1px solid gray;
    }
    .offer{
        width:150px;
        padding:10px;
        margin:20px;
        border: 1px solid gray;
        border-radius: 5px;
    }
    .offer > div{
        height: 33px;
        padding:0 10px 10px 10px;
    }
    .coupon{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .borderBottom{
        border-bottom: 1px solid gray;
    }
   
}
.menu-card{
    display: flex;
    justify-content: space-between; 
     align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
    padding:15px;
    margin:30px 0;
}
.menu-card > div{
    flex:0.5;
}
.menu-card > :last-child{
    display: flex;
    flex-direction: column;
}
.item-img{
    width:150px;
    height:150px;
    border-radius: 5px;
}

.user-card{
    padding:15px;
    border:1 solid black;
    border-radius: 5px;
} 